/* 首页内容的样式 */
/* banner */
.banner{
    height: 500px;
    background-color: #f5f5f5;
}

.banner .wrapper{
    position: relative;
    /* 溢出隐藏 */
    overflow: hidden;
    height: 500px;
    background-color: pink;
}

.banner .pic{
    display: flex;
    /* flex 布局，父级宽度不够，子级被挤小，不想被挤小，增加父级宽度 */
    width: 3720px;
}

/* 侧导航 */
.subnav{
    position: absolute;
    left: 0;
    top: 0;
    width: 250px;
    height: 500px;
    background-color: rgba(0, 0, 0, 0.42);
}

.subnav li{
    /* 修改鼠标指针类型 */
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    height: 50px;
    /* background-color: pink; */
    line-height: 50px;
    padding-left: 30px;
    padding-right: 12px;
    color: #fff;
}

/* a所有都是小字 分类是大字*/
.subnav li a{
    font-size: 14px;
    margin-right: 5px;
    color: #fff;
}

.subnav li .classify {
    font-size: 16px;
    margin-right: 14px;
}

.subnav li .iconfont{
    font-size: 14px;
}

.subnav li:hover{
    background-color: #00be9a;
}

/* 圆点指示器 */
.banner ol{
    position: absolute;
    display: flex;
    bottom: 17px;
    right: 16px;
}

.banner ol li{
    cursor: pointer;
    width: 22px;
    height: 22px;
    /* background-color: pink; */
    border-radius: 50%;
    margin-left: 8px;
}

.banner ol i{
    display: block;
    margin: 4px;
    width: 14px;
    height: 14px;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 50%;
}

/* 选中：li半透明 i为白色 */
.banner ol .active{
    background-color: rgba(255, 255, 255, 0.5);
}

.banner ol .active i{
    background-color: #fff;
}

/* 新鲜好物 */
.title{
    display: flex;
    justify-content: space-between;
    height: 42px;
    /* background-color: pink; */
    margin-top: 40px;
    margin-bottom: 30px;
}

.title .left{
    display: flex;
}

.title .left h3{
    font-size: 30px;
    margin-right: 35px;
}

.title .left p{
    /* 调节侧轴对齐方式 */
    align-self: flex-end;
    color: #a1a1a1;
}

.title .right .more{
    line-height: 42px;
    color: #a1a1a1;
}

.title .right .more .iconfont{
    margin-left: 10px;
}

/* 好物内容 */
.bd ul{
    justify-content: space-between;
    display: flex;
}

.bd li{
    width: 304px;
    height: 404px;
    background-color: #eef9f4;
}

.bd li .pic{
    width: 304px;
    height: 304px;
}

.bd li .txt{
    text-align: center;
}

.bd li h4{
    font-size: 20px ;
    margin-top: 18px;
    margin-bottom: 8px;
}

.goods .bd li p{
    color: red;
}

.goods .bd li span{
    font-size: 22px;
    margin-left: 3px;
}

/* 人气推荐 */
.recommend .bd li{
    background-color: #fff;
}

.recommend .bd p{
    color: #a1a1a1;
}

/* 热门品牌 */
.brand{
    height: 468px;
    background-color: #f5f5f5;
    margin-top: 60px;
}

.brand .wrapper{
    overflow: hidden;
    height: 468px;
    background-color: pink;
}

.brand .title{
    position: relative;
    margin-bottom: 40px;
}

.brand .button{
    position: absolute;
    right: 0;
    bottom: 0;
}